@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}



nav {
    position: fixed;
	top: 0;
	width: 100%;
    background-color: #2b2d42;
}

main {
    margin-top: 7%;
}

a {
    color: white;
    scroll-behavior: smooth;
    text-decoration: none;
}
/*------------------------------NAV-------------------------------*/



.primary-content {
    display: flex;

    margin-top: 5%;
    margin-left: 12%;
}

.all-content-primary {
    margin-top: 5%;
}

#title-company {
    font-weight: 600;
    font-size: 52px;
}

#text-about-neoteric {
    margin-top: 10%;
    color: hsl(0, 0%, 41%);
}

#button-about-us {
    width: 40%;
    height: 7%;

    margin-top: 5%;
    border-radius: 15px;

    background-color: transparent;

    transition: .4s ease-in-out;
}

#button-about-us i {
    margin-left: 10px;
}

#button-about-us:hover {
    transform: translateY(-20%);
    color: white;
    background-color: hsl(0, 0%, 8%);
    box-shadow: 0px 7px;
}

#image-primary-content {
    width: 70%;
    height: 70%;

    margin-left: 15%;
}

/*---------------------------ONE SECTION-----------------*/



.secondary-content {
    width: 100%;
    height: 100%;

    background-color: #2b2d42;
}


.all-content-secondary {
    display: flex;
    margin-left: 12%;
}

.about-us-secondary-content {
    width: 60%;
}

#title-secondary-content {
    margin-top: 10%;

    font-weight: 600;
    font-size: 42px;

    color: white;
}

#text-about-us {
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
}

/*-----------------------------SECOND SECTION------------------*/
.people-working {
    margin-right: 5%;
}





.third-content {
    width: 100%;
    height: 85vh;

    margin-top: 15vh;
}

.all-content-third {
    display: flex;
    margin-left: 12%;
}


#third-title {
    margin-top: 15%;

    font-weight: 600;
    font-size: 42px;
}

#third-text {
    margin-top: 8%;
    margin-bottom: 8%;
    letter-spacing: 2px;
    color: hsl(0, 0%, 41%);
}

#jobs {
    width: 35%;
    height: 7%;

    border-radius: 15px;

    background-color: transparent;

    transition: .4s ease-in-out;
    box-shadow: 2px 5px;
}

#jobs:hover {
    transform: translateY(-20%);
    box-shadow: 0px 7px;

    background-color: hsl(0, 0%, 8%);
    color: white;
}


#people-happy {
    width: 100%;
    height: 80%;

    margin-top: 22%;
    border-radius: 1%;
}



/*------------------------------THIRD SECTION----------------------*/






footer  {
    width: 100%;

    background-color: #2b2d42;
}

.finish {
    display: flex;
}

#last-title {
    margin-top: 2%;
    margin-left: 5%;
    
    font-weight: 600;
    font-size: 100%;

    color: white;
}


i {
    margin-left: 5%;
}

